on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/module/board_chacha/parameters/bluetooth_power_on
    chmod 0660 /sys/module/board_chacha/parameters/bluetooth_power_on
    chmod 0660 /sys/class/rfkill/rfkill0/state

    # perms for akm8975
    chmod 0666 /dev/bma150
    chown compass system /dev/akm8975_aot
    chown compass system /dev/akm8975_daemon
    chmod 0640 /dev/akm8975_aot
    chmod 0640 /dev/akm8975_daemon

    chown bluetooth bluetooth /sys/module/board_chacha/parameters/bdaddr
    setprop ro.bt.bdaddr_path /sys/module/board_chacha/parameters/bdaddr

    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/sharekey/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/auto

    chown system camera /sys/class/leds/flashlight/brightness
    chmod 0660          /sys/class/leds/flashlight/brightness

    chown radio radio /sys/module/pm/parameters/idle_sleep_mode
    chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
    chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

    chown system system /sys/class/optical_sensors/lightsensor/ls_adc
    chown system system /sys/class/optical_sensors/lightsensor/ls_auto
    chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
    chown system radio  /sys/class/optical_sensors/proximity/ps_adc
    chown system system /sys/class/optical_sensors/proximity/ps_kadc
    chown system system /sys/class/optical_sensors/proximity/ps_led
    chown system system /sys/class/optical_sensors/proximity/ps_test_mode

# unmap left alt to avoid console switch
    setkey 0x0 0x38 0x0
# device reset SEND+MENU+END
    setkey 0x0 0xe7 0x706
    setkey 0x0 0x8b 0x707

    setkey 0x40 0xe7 0x706
    setkey 0x40 0x8b 0x707

    setkey 0x80 0xe7 0x706
    setkey 0x80 0x8b 0x707

    setkey 0xc0 0xe7 0x706
    setkey 0xc0 0x8b 0x707
    setkey 0xc0 0x6b 0x20c

on init
    mount rootfs rootfs / remount
    mkdir /app-cache 01777 system system
    mount tmpfs tmpfs /app-cache size=8m
    mkdir /data/app-cache 0771 system system
    mount rootfs rootfs / ro remount

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/misc/hotspot 0770 system hotspot

    chown system system /sys/module/serial/parameters/modem_enabled
    chown system system /dev/ttyHSUSB0
    chown system system /dev/ttySA0
    chown system system /dev/smd9

    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,5120,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL eth0
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

service modem /system/xbin/wireless_modem
    user system
    group system radio
    disabled

on property:service.modem.enable=1
    start modem

on property:service.modem.enable=0
    stop modem

# compass/accelerometer daemon
service akmd /system/bin/akmd
    user compass
    group compass misc input

service srv_ser2net /system/bin/ser2net -n
    disabled

on property:service.ser2net.enable=1
    start srv_ser2net

on property:service.ser2net.enable=0
    stop srv_ser2net

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 3000000 --patchram /system/etc/firmware/BCM4329.hcd /dev/ttyHS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
