# init.c parses ueventd.rc first, then uevent.%DEVICE.rc.
/dev/system_bus_freq      0660   system     system
/dev/cpu_dma_latency      0660   system     system

# ADB
/dev/android_adb          0660   adb        adb
/dev/android_adb_enable   0660   adb        adb

# G-Sensor and compass
/dev/akm8975_daemon       0640   compass    system
/dev/akm8975_aot          0640   compass    system
/dev/bma150               0640   compass    system
/dev/cm3602               0640   compass    system

# Graphics
/dev/kgsl-3d0             0666   root       root
/dev/genlock              0666   root       root
/dev/graphics/*           0660   media      graphics
/dev/msm_vidc*            0660   system     graphics

# Audio
/dev/msm_aac              0660   system     audio

# Radio
/dev/oncrpc/*             0660   system     radio

# Bluetooth
/dev/ttyHS0               0600   bluetooth  bluetooth

# USB
/dev/ttyHSUSB0            0600   system     system

/dev/pmem_smipool         0660   system     audio
/dev/pmem_venc            0660   system     audio
/dev/audience_a1026*      0660   system     audio
/dev/tpa2018d1*           0660   system     audio
/dev/qemu_trace           0666   system     system

/dev/radio_feedback       0660   radio      radio
/dev/smd9                 0600   system     system

